body {
    background-color: #f9f8fd !important;
}

.card {
    border: none;
    border-radius: 10px;
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.cards1 {
    height: 305px !important;
    box-shadow: 2px 2px #a5aec0;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px;
}

.icon img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar-wrapper {
    position: relative;
    width: 50px;
    height: 50px;
}

.avatar {
    vertical-align: middle;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.verified-avatar-icon {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    background: #dcfaec;
    width: 15px;
    height: 15px;

    display: grid;
    text-align: center;
    line-height: 15px;
    color: #28b144;
    font-size: 10px;
    font-weight: bolder;
}

.badge span {
    background-color: #e3fae8;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    color: #7aae80;
    justify-content: center;
    align-items: center;
}

.badge button {
    background-color: #e6e8fd;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    color: #4358b2;
    justify-content: center;
    align-items: center;
}

.badge button:hover {
    color: black;
}

.badge-bottom button {
    background-color: #e8f4ff;
    color: #569dc6;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}

.badge-bottom button:hover {
    color: black;
}

.badge-bottom span {
    background-color: #e8f4ff;
    color: #569dc6;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
}

.badge3 button {
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.badge3 img {
    width: 40px;
    height: 40px;
}

.form-fram {
    background-color: white;
}

.forms-btn button {
    background-color: #e3ebfe;
    color: #183389;
}

.dlt {
    background-color: #ffeced !important;
    color: #db4e51 !important;
}

.apply-bg {
    border: 1px solid rgb(69, 67, 67);
    padding-top: 38px;
    padding-bottom: 38px;
    background-color: #f9f8fd;
}

.apply-bg1 {
    border: 1px solid rgb(69, 67, 67);
    padding-top: 10px;
    background-color: #f9f8fd;
}

.dashed-line {
    border: 1px dashed rgb(126, 117, 117);
}

.add button {
    background-color: #e3ebff;
    color: #2b3c69;
    font-size: 12px;
    font-weight: 800;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.add2 {
    background-color: #0047f9;
    color: #ffffff;
    font-size: 12px;
    font-weight: 800;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
}

.close {
    background-color: #f5f5f8;
    border: none;
    border-radius: 50%;
    padding: 5px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.bt-1 {
    background-color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.bt-2 {
    background-color: #0c269a;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

p.start {
    text-align: justify;
    display: inline;
    padding: 5px 10px;
    background-color: #989da0;
    border-radius: 20px;
    margin-left: 5px;
}

h1.start {
    display: inline-block;
}

.post {
    background-color: white;
}

.cont p {
    font-size: 14px;
    text-align: justify;
    padding-right: 30px;
}

.post-img img {
    width: 100%;
}

.status span {
    font-size: 12px;
    padding: 5px 15px;
    background-color: #f1f2f4;
    color: #989da0;
    border-radius: 20px;
}

.status p {
    font-size: 12px;
}

.box1 {
    background-color: #f8f9fe;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    margin-left: 20px;
}

.box2 {
    margin-left: 15px;
}

.badgex span {
    display: flex;
    color: #000000;
    justify-content: center;
    align-items: center;
}

.com1 p {
    text-align: justify;
    font-size: 12px;
}

.notif {
    background-color: #ffffff;
}

.no-1 {
    background-color: #e4eaff;
}

.notif-name {
    font-weight: 200;
}

.indicator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}

.indicator .line {
    position: absolute!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
    height: 4px!important;
    background: #e91b1b!important;
    left: 0!important;
    z-index: 10!important;
}

.indicator p {
    position: relative;
    font-size: 30px;
    width: 60px;
    height: 60px;
    background: #eeefed;
    color: #8e9ca5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 50%;
}
.active {
    color: #028e13!important;
    background-color: #e6f8ea!important;
}
.now {
    color: #012367!important;
    background-color: #e6e8f5!important;
}
